body,html {
  font-family: proxima-nova, sans-serif;
  align-items: center;
  background-color: #F0F2F3;
  padding: 0;
  margin: 0;
  height: 100%;
  color: black;
}
hr{
  width: 100%;
}
h1 {
  font-size: bold 35px;
  color: #1c2026;

}
h2{
  font-size: bold 22px;
  color: #1c2026;
  text-align: center;
}
h3{
  font-size: 22px;
  text-align: center; 
  padding: 5%;
  color: #000000;
}
h4{
  font-size: 10px;
  font-weight: lighter;
}

a{
  text-decoration: none;
}
/* Main Div*/
.main{
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%; 
  float: center;
  width:55%;
  height: 70%;
  box-shadow: 0 3px 12px 0 rgba(87,87,87,0.03), 0 6px 20px 0 rgba(87,87,87,0.3);
  max-height: 515px;
  max-width: 400px;
  min-width: 275px;
}
.top-border{
  border-image: linear-gradient(270deg, #89D329 0%, #00BCFF 100%);
  border-image-slice: 1 fill;
  border-style: solid;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  padding-bottom: 5px;
  width: 15%; 
  height: 15%;
}
/* LogIn Information*/

.info {
  padding: 5%;
  padding-top: 0;
  margin-top: 0;
}

.info h4 {
  font-size: 10px;
  font-weight: lighter;
}

.info p {
  font-size: 14px;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
}

.row {
  background-color: #FFFFFF;
}

.textbox {
  font-size: 14px;
  width: 95%;
  height: 100%;
  padding: 2%;
  background-color: #fcfcfd;
}

.link {
  color: #00BCFF;
}

.link:hover {
  color: #0091DF;
}

.link:active {
  color: #0091DF;
}

.showhide {
  float: right;
  position: relative;
  margin-top: -6%;
  margin-right: 5%;
  color: #575757
}
/*Header Elements*/

.mainheader {
  background: linear-gradient(180deg, #00617F 0%, #10384F 100%);
  position: relative;
  width: 100%;
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 14%;
  max-height: 25px;
  min-height: 22px;
}

.iconleft {
  width: 79%;
  padding-bottom: 3%;
  float: left;
  margin-left: 1%;
}

.iconright {
  width: 19%;
  margin-bottom: 3%;
  text-align: right;
  float: right;
  margin-right: 1%;
  cursor: pointer;
}

.subheader {
  background-color: #FFFFFF;
  position: relative;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 14%;
  max-height: 25px;
  min-height: 22px;
}

.subtitle {
  width: 57%;
  float: left;
  text-align: left;
  height: auto;
  font-size: 22px;
  color: #1C2026;
  font-weight: bold;
}

.sublink {
  width: 31%;
  text-align: right;
  float: right;
  height: auto;
  margin-right: 2%;
  font-size: 13px;
  color: #00BCFF;
}
.sublink:hover {
  color: #0091DF;
}

.sidelogo {
  float: left;
  padding-left: 2%;
  padding-right: 1%;
  margin-top: -2%;
  width: 3%;
  min-width: 30px;
  height: auto;
  position: relative;
}
/*profile and search icon*/

.dropdown {
  position: static;
  display: inline-block;
}
.dropdown-content p, a{
  color:#1c2026; 
  text-align: center;
  font-size: 14px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 205px;
  height: 184px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*buttons*/

.greensubmit{
  width: 100%;
  display: block;
  font-size: 20px;
  background-color: #89D329;
  padding: 15px;
  color: #FFFFFF;
  margin-bottom: 2%;
  cursor: pointer;
}
.greensubmit:hover{
  background-color: #66B512;
}

.greensubmit:active {
  background-color: #66B512;
}
.searchbutton{
  width: 100%;
  display: block;
  font-size: 20px;
  background-color: #89D329;
  padding: 10px;
  color: #FFFFFF;
  cursor: pointer;

}
.download, 
.addmore{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.download:focus, 
.addmore:focus{
  outline: none;
  border-color: none;
}

.checkbox {
  outline: 2px solid #575757;
  margin-right: 2%;
}

/*Errors*/
.pswd-error{
  color:#CC0000;
  display: none;
  font-size: 12px;
  margin-top: 1%;
  margin-bottom: 0;
}
.pswd-error.icon{
  float: right;
  position: relative;
  margin-top: -8%;
}

.log-error{
  color: #CC0000;
  border: 1px solid #CC0000;
  background-color: #eacfd2;
  padding: 3%;
  margin-top: 0;
}
.error-icon{
  float: left;
  position: relative;
  margin-top: 6%;
}

.is-invalid + p {
  display: block;
}
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid,
.custom-select.is-invalid {
  border-color: #dc3545;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus,
.custom-select.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.was-validated .form-control:invalid ~ .invalid-feedback,
.was-validated .form-control:invalid ~ .invalid-tooltip, .form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .invalid-tooltip, .was-validated
.custom-select:invalid ~ .invalid-feedback,
.was-validated
.custom-select:invalid ~ .invalid-tooltip,
.custom-select.is-invalid ~ .invalid-feedback,
.custom-select.is-invalid ~ .invalid-tooltip {
  display: block;
}

.was-validated .form-check-input:invalid + .form-check-label, .form-check-input.is-invalid + .form-check-label {
  color: #dc3545;
}

.was-validated .custom-control-input:invalid ~ .custom-control-indicator, .custom-control-input.is-invalid ~ .custom-control-indicator {
  background-color: rgba(220, 53, 69, 0.25);
}

.was-validated .custom-control-input:invalid ~ .custom-control-description, .custom-control-input.is-invalid ~ .custom-control-description {
  color: #dc3545;
}

.was-validated .custom-file-input:invalid ~ .custom-file-control, .custom-file-input.is-invalid ~ .custom-file-control {
  border-color: #dc3545;
}

.was-validated .custom-file-input:invalid ~ .custom-file-control::before, .custom-file-input.is-invalid ~ .custom-file-control::before {
  border-color: inherit;
}

.was-validated .custom-file-input:invalid:focus, .custom-file-input.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
/*Main-Product Information*/

.product {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-size: 26px;
  min-width: 400px;
}
.product hr{
  width: 100%;
  border: 2px solid #BFC4C8;
}


.product-info {
  background: rgb(28, 32, 38);
  background: linear-gradient(180deg, rgba(28, 32, 38, 1) 75%, rgba(255, 255, 255, 1) 75%);
  padding: 2%;
  margin-left: 5%;
  margin-bottom: 3%;
  width: 300px;
  height: 400px;
  float: left;
  vertical-align: text-bottom;
}

.product-image {
  object-fit: fill;
  width: 100%;
  margin-bottom: 10%;
}

.product-description {
  width: 100%;
  color: #1c2026;
  text-align: left;
}
.product-description p{
  font-size: 16px; 
  color: #575757;
  text-align: left;
}
.product-icons {
  position: absolute;
  margin-left:280px;
  cursor: pointer;
}
/* Product and Order-Page */
.product-order{
  width: 100%;
}
.detail-image{
  float: left;
  width: 45%;
  height: 100%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 3%;

}
.rightarrow{
  background-color: rgba(28,32,38,0.7);
  height: 25px;
  margin-left: -47%;
  width: 20px;
  position: absolute;
  cursor: pointer;
}
.detail-information{
  background-color: #FFFFFF;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  float: left;
  min-width: 350px;
  width: 45%;
  box-shadow: 0 3px 12px 0 rgba(87, 87, 87, 0.03), 0 6px 20px 0 rgba(87, 87, 87, 0.3);
}
.details{
  padding: 5%;
  padding-top: 0;
  margin-top: 0;
}
.details hr{
  width: 100%;
  border: 1px solid #BFC4C8;
}
.details h1{
  color: #0091DF;
  font-size: 18px;
}
.details h2{
  font-size: 26px;
  text-align: left;
}
.details h3{
  color: #575757;
  font-size: 12px;
  font-style: italic;
  text-align: left;
}

.details h4{
  font-weight: bold;
  font-size: 16px;
  color: #575757;
}
.details p{
  color: #1C2026;
  font-size: 14px;
}
.product-description p{
  font-size: 16px; 
  color: #575757;
}

#show-more, #show-less {
cursor: pointer;
color: #00BCFF;
font-size: 14px;
}


.download:hover,
.addmore:hover {
  color: #0091DF;
}

.download:active,
.addmore:active {
  color: #0091DF;
}
.download, 
.addmore{
  color: #00BCFF;
  font-size: 16px;
}
/*order successful page*/

.sucessful{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  padding-bottom: 5px;
  width: 90px;
  height: 90px;
}
.ordersucess{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;

}
/* 404 error page*/
.contactinfo{
  background-color: #0091DF;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
  padding-top: 4%;
  padding-bottom: 4%;
  min-width: 300px;
}
/* Bread Crumbs*/
.breadcrumb{
  font-size: 12px;
  text-align: center;
  color: #575757;
}
ul.breadcrumb li {
  display: inline;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #575757;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #00BCFF;
  text-decoration: none;
}
.breadcrumb a:hover{
  color: #0091DF;
}

/*Header Elements*/

.mainheader {
  background: linear-gradient(180deg, #00617F 0%, #10384F 100%);
  position: relative;
  width: 100%;
  color: #FFFFFF;
  margin-top: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 14%;
  max-height: 25px;
  min-height: 22px;
}

.iconleft {
  width: 79%;
  padding-bottom: 3%;
  float: left;
  margin-left: 1%;
}

.iconright {
  width: 19%;
  margin-bottom: 3%;
  text-align: right;
  float: right;
  margin-right: 1%;
  cursor: pointer;
}

.subheader {
  background-color: #FFFFFF;
  position: relative;
  vertical-align: middle;
  top: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 14%;
  max-height: 25px;
  min-height: 22px;
}

.subtitle {
  width: 57%;
  float: left;
  text-align: left;
  height: auto;
  font-size: 22px;
  color: #1C2026;
  font-weight: bold;
}

.sublink {
  width: 31%;
  text-align: right;
  float: right;
  height: auto;
  margin-right: 2%;
  font-size: 13px;
  color: #00BCFF;
}
.sublink:hover {
  color: #0091DF;
}

.sidelogo {
  float: left;
  padding-left: 2%;
  padding-right: 1%;
  margin-top: -2%;
  width: 3%;
  min-width: 30px;
  height: auto;
  position: relative;
}
/*Footer Elements*/

.footer {
  height: 20%;
  max-height: 125px;
  width: 100%;
  bottom: 0;
  display: inline-block;
  position: relative;
  text-align: center;
  background: linear-gradient(180deg, #00617F 0%, #10384F 100%);
  color: #FFFFFF;
  font-size: 12px;
}

.icons {
  padding-left: 10px;
  align-items: center;
  color: #FFFFFF;
}

.iconemail {
  font-size: 14px;
  color: #FFFFFF;
}

.website {
  color: #1caae4;
  text-decoration: none;
}
