<!--
// component: error message if the page does not exist
-->
<template>
    <div>
         <!-- 404 error info-->
        <div class="info">
            <img class="sucessful" src="../assets/large-icons/icon-no-results.png">
            <div class="ordersucess">
                <h2>Oh No!</h2>
                <p>This page does not exist.</p>
                <p>Need assistance? Contact Universal Graphics.</p>
            </div>
        </div>
        <div class="contactinfo">
            <img class="icons" src="../assets/icons/icon-phone-white.png"> 203.934.4275 <a class="icons iconemail" href="mailto:info@bayerug.com"> 
            <img class="icons iconemail" src="../assets/icons/icon-email-white-default.png"/>> info@bayerug.com</a>
        </div>
    </div>
</template>
