<!--
// component: footer
-->
<template>
  <div class="footer">
    <p>Please contact us for more information, assistance or feedback.</p><img class="icons" src="../assets/icons/icon-phone-white.png"> 203.934.4275 <a class="icons iconemail" href="mailto:info@bayerug.com">
    <img src="../assets/icons/icon-email-white-default.png" > info@bayerug.com</a>
    <p>Copyright &copy; 2018 Universal Graphics. Powered by <a class="website" href="https://univgraph.com" target="_blank">Universal Graphics- an Adaptive Agency</a></p>
</div>
</template>
