<!--
// component: if user clicks on forget password link
-->
<template>
  <div>
    <img class="logo" src="../assets/images/Corp-Logo_BG_Bayer-cross_Basic_150dpi_on-screen_RGB.png" alt="bayer">
    <form id="forget-passform" method="post" @submit="checkforgetpass" action="LogIn">
      <h2>Change Password</h2>
        <!--Login Information -->
          <div class="info">
            <!--for Email-->
            <div class="form-group email">
                <label  for="email">Email</label>
                <input  name="email" type="email" class="textbox" placeholder="name@bayer.com" v-model="email" v-bind:class="{ 'is-invalid':  missingValue && attemptSubmit}" >
                <p  class="pswd-error invalid-feedback">Email required</p>
            </div>
            <!--end for Email-->
            <br>
              <!--for New Password-->
            <div class="form-group">
                <label for="password">New Password</label>
                <input  name="password" class="textbox" type="password" placeholder="Password"   id="password" v-model="password" v-bind:class="{'is-invalid': missingPwd && attemptSubmit}"> 
                <p  class="pswd-error invalid-feedback">password required</p>
            </div>
          <br>
            <div class="form-group">
                <label for="confirm_password">Confirm New Password</label>
                <input  name="confirm_password" class="textbox" type="password" placeholder="Password" id="confirm_password"  v-model="confirm_password" v-bind:class="{'is-invalid':  (attemptSubmit && matchPassword) || (attemptSubmit && missingPwd)}"> 
                <p  class="pswd-error invalid-feedback">confirm password does not match</p>
            </div>
            <br>
          <!--Save and Login Button-->
          <button class="greensubmit" type="Submit">Save and Log In</button>
          <!--end Save and Login button-->
        </div>
        <!--End Login Information-->
    </form>  
  </div>
</template>
<script>
export default {
  data: function() {
    return {
      errors: [],
      email: "",
      password: "",
      confirm_password: "",
      attemptSubmit: false
    };
  },
  computed: {
    missingValue: function() {
      return this.email === "";
    },
    missingPwd: function() {
      return this.password === "" || this.confirm_password === "";
    },
    matchPassword: function() {
      return this.password != this.confirm_password;
    }
  },
  methods: {
    checkforgetpass: function(e) {
      this.attemptSubmit = true;
      if (this.missingValue || this.matchPassword) e.preventDefault();
    },
    validEmail: function(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
  }
};
</script>

