<!--
// component: header that appears after login
-->
<template>
   <header>
        <!--Header-->
        <div class="header">
            <!--main-header-->
            <div class="mainheader">
                <div class="iconleft">
                    <img class="icons nav" src="../assets/icons/icon-phone-white.png">203.934.4275
                    <a class="icons" href="mailto:info@bayerug.com"> <img class="../assets/icons nav" src="../assets/icons/icon-email-white-default.png"/>> info@bayerug.com</a>
                </div>
               <div class="iconright">
                    <div class="search dropdown">
                        <span><img class="icons nav" src="../assets/icons/icon-search-white-default.png"></span>
                        <div class="search dropdown-content">
                            <form class="navbar-search pull-right">
                                <input type="text" class="textbox" placeholder="What are you looking for?">
                                <button class="searchbutton">Search</button>
                            </form>
                        </div>
                    </div>
                    <div class="profile dropdown">
                        <span><img class="icons nav" src="../assets/icons/icon-profile-white-default.png"></span>
                        <div class="profile dropdown-content dropdown-pull-right">
                            <ul>
                            <li><b><p>Full Name</p></b></li>
                            <li><a href="favorites.html">Favorites</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="password.html">Change Password</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Sub-Header-->
            <div class="subheader">
                <nav class="navbar navbar-light bg-light">
                    <img class="navbar-brand sidelogo d-inline-block align-top" src="../assets/images/Corp-Logo_BG_Bayer-Cross_Basic_72dpi_on-screen_RGB.png"  alt="">
                    <a class="navbar-brand subtitle" href="#"> KAM Digital Storefront</a>
                    <a class="navbar-brand sublink" href="kam.html">Budget Impact Model</a>
                </nav>
            </div>
            <!--end Sub-Header-->
        </div>
    </header>
</template>
