<!--
// component: Main product component with all the products
-->
<template>
<div>
     <!--Main-Product-Information-->
    <div class="product">
        <h2>Budget Impact Model</h2>
        <hr>
        <div class="product-info">
            <div class="product-icons">
            <img src="../assets/icons/icon-star-outline-white.png"><br>
            <img src="../assets/icons/icon-zoom-white-default.png">
        </div>
            <img class="product-image" src="../assets/images/PP-290-US-0479-product-thumbnail-300x265.jpg">
            
            <div class="product-description">
                <a href="productinformation.html">
                   <p style="font-size: 16; color: #575757;"><b>Product Number</b></p>
                </a>
                <p style="font-size: 14; color: #1C2026;">Product Description</p>
            </div>
        </div>
        <div class="product-info">
            <div class="product-icons">
            <img src="../assets/icons/icon-star-outline-white.png"><br>
            <img src="../assets/icons/icon-zoom-white-default.png">
        </div>
            <img class="product-image" src="../assets/images/PP-290-US-0479-product-thumbnail-300x265.jpg">
            
            <div class="product-description">
                <a href="productinformation.html" target=" _blank">
                   <p><b>Product Number</b></p>
                </a>
                <p>Product Description</p>
            </div>
        </div>
        <div class="product-info">
            <div class="product-icons">
            <img src="../assets/icons/icon-star-outline-white.png"><br>
            <img src="../assets/icons/icon-zoom-white-default.png">
        </div>
            <img class="product-image" src="../assets/images/PP-290-US-0479-product-thumbnail-300x265.jpg">
            
            <div class="product-description">
                <a href="productinformation.html" target=" _blank">
                   <p style="font-size: 16; color: #575757;"><b>Product Number</b></p>
                </a>
                <p style="font-size: 14; color: #1C2026;">Product Description</p>
            </div>
        </div>
    </div>
    <!--End Main-Product-Information-->
</div>  
</template>
