<!--
// component: main home layout component which consists of header footer and main body component
-->
<template>
<div>
    <header-vue></header-vue>
    <router-view></router-view>
</div>
</template>
<script>
import headerVue from '@/components/headerVue'
export default {
    name: 'HomeLayout',
   components:{
       'header-vue' : headerVue
   } 
}
</script>
