<!--
// component: left pdf preview component
-->
<template>
    <div>
        <img class="detail-image" src="../assets/images/placeholder.png">
        <img class="rightarrow" src="../assets/icons/icon-right-arrow-light-gray.png">
    </div>
</template>
