<!--
// component: login form
-->
<template>
<div>
  <img class="logo" src="../assets/images/Corp-Logo_BG_Bayer-cross_Basic_150dpi_on-screen_RGB.png" alt="bayer">
  <form id="login-form" method="post" @submit="checkForm" action="LogIn" >
    <h2>Log in to your store</h2>
    <!--Login Information -->
    <div class="info">
          <!--for Email-->
          <div class="form-group">
              <label  for="email">Email</label>
              <input  name="email" type="text" class="textbox" placeholder="name@bayer.com" v-model="email" v-bind:class="{ 'is-invalid': attemptSubmit && missingValue }" >
              <p  class="pswd-error invalid-feedback"  >Email required</p>
          </div>
            <!--end for Email-->  
              <br>
              <!--for Password-->
          <div class="form-group">
          <div class="row">
            <div class="left-col">
              <label for="password">Password</label>
            </div>
            <div class="right-col">
              <router-link class="link" :to="{ path: 'forgetPassword' }" >Forgot your password? </router-link>
            </div>
          </div>
              <input  name="password" type="password" class="textbox" placeholder="Password"   id="password" v-model="password" v-bind:class="{ 'is-invalid': attemptSubmit &&  missingPwd }" > 
              <p  class="pswd-error invalid-feedback" >Password required</p>
          </div>
          <!--end for password-->
          <!--check box-->
          <br><h4><input class="checkbox" type="checkbox" name="Remember Me">Remember Me</h4>
          <!--end checkbox-->
          <!--Login Button-->
          <div class="form-group">
          <button class="greensubmit" type="Submit">Log In</button>
          </div>
          <!--end Login button-->
    </div>
    <!--End Login Information-->
  </form>
</div>      
</template>
<script>
export default {
  data: function() {
    return {
      errors: [],
      email: "",
      password: "",
      attemptSubmit: false
    };
  },
  computed: {
    missingValue: function() {
      return this.email === "";
    },
    missingPwd: function() {
      return this.password === "";
    },
    validemail: function() {
      const emailRegex = /^([A-Za-z0-9_\-.])+@([A-Za-z0-9_\-.])+\.([A-Za-z]{2,4})$/;
      if (!emailRegex.test(email));
      return true;
    }
  },
  methods: {
    checkForm: function(e) {
      this.attemptSubmit = true;
      if (this.missingValue || this.missingPwd || this.validemail)
        e.preventDefault();
    }
  }
};
</script>