<!--
// component: box layout for login ,forget pass, error, success components
-->
<template>
     <div class="main">
      <hr class="top-border">
        <router-view></router-view>
    </div>
</template>