<!--
// component: main layout component
-->
<template>
  <div>
    <router-view></router-view>
    <footer-vue></footer-vue>
  </div>
</template>
<script>
import footerVue from '@/components/footerVue'
export default {
  name: 'MyComponent',
  components : {
    'footer-vue' : footerVue
  }
}
</script>