<!--
// component: right product order layout with details of products or order form
-->
<template>
    <div>
    <ul class="breadcrumb">
        <li><a href="kam.html">Budget Impact Model</a></li>
        <li><a href="productinformation.html"> Details and Customization</a></li>
        <li>Order</li>
    </ul>
    <leftComponent></leftComponent>
    <rightComponent></rightComponent>
    </div>
</template>
<script>
import LeftpdfPreview from '@/components/LeftpdfPreview'
import RightOrderDetails from '@/components/RightOrderDetails'
import RightpdfForm from '@/components/RightpdfForm'
export default {
  name: 'orderLayout',
  components:{
       'leftComponent' : LeftpdfPreview,
       'rightComponent' : RightOrderDetails, //tobe used if order details have to shown
       'rightComponent' : RightpdfForm, // tobe user when a product has to be ordered
   }
}
</script>