<!--
// component: when order is successfuly placed
-->
<template>
    <div  class="info">
        <img class="sucessful" src="../assets/large-icons/icon-check-order-successful.png">
        <div class="ordersucess">
            <h2>Order Successful!</h2>
            <p>Order ID: order number</p>
            <p>Thank you for your order. you will receive a confirmation email shortly</p>
        </div>
        <!--greensubmit Button-->
        <button class="greensubmit" type="Submit">Keep Shopping</button>
        <!--end greensubmit button-->
    </div>
</template>
