<!--
// component: product form to order -right component
-->
<template>
    <div class="detail-information">
            <div class="top-border">
            </div>
            <!--order Form-->
            <div class="details">
                <h2>Order</h2>
                <h4>Product Name</h4>
                <p>Product Description</p>
                <hr>
                <h1>Your Contact Information</h1>
                <form>
                    <label for="Name">Full Name</label>
                    <input class="textbox" type="text" name="firstname and Lastname" autocapitalize="on" autocorrect="off"><br><br>
                    <label for="email">Email</label>
                    <input class="textbox" required name="login[email][@]" type="text" autocapitalize="off" autocorrect="off" placeholder="name@bayer.com" pattern=".+@bayer.com" title="Please provide vaild email address"><br><br>
                    <label for="Phone-number">Phone Number</label>
                    <input class="textbox" type="Phone" name="Phone Number" placeholder="1(203) 123-4567"><br><br>
                </form>
                <hr>
                <h1>Recipient's Shipping Information</h1>
                <h3>Manually enter as many shipping addresses as needed OR upload an Excle file that contains all relevant shipping information including the number of prints needed for each shipment. </h3>
                <form>
                    <h1>Recipient 1</h1>
                    <label for="Phone-number">Number of Prints Needed</label>
                    <input class="textbox" type="text" name="number"><br><br>
                    <label for="Name">Company Name, Hotel, etc (Optional)</label>
                    <input class="textbox" type="text" name="Place" autocapitalize="on" autocorrect="off"><br><br>
                    <label for="Name">Full Name</label>
                    <input class="textbox" type="text" name="Firstname and Lastname" autocapitalize="on" autocorrect="off"><br><br>
                    <label for="inputAddress">Address Line 1</label>
                    <input class="textbox" type="text" name="Address" autocapitalize="on" autocorrect="off" placeholder="Street Address, P.O. Box"><br><br>
                    <label for="inputAddress">Address Line 2 (Optional)</label>
                    <input class="textbox" type="text" name="Address" autocapitalize="on" autocorrect="off" placeholder="Apartment, Suite, Unit, Building, Floor, etc."><br><br>
                    <label for="inputCity">City</label>
                    <input class="textbox" type="text" autocapitalize="on" autocorrect="off"><br><br>
                    <label for="inputState">State/Province/Region</label>
                    <input class="textbox" type="text" autocapitalize="on" autocorrect="off"><br><br>
                    <label for="inputZip">Zip/Postal Code</label>
                    <input class="textbox" type="text"><br><br>
                    <label for="inputCountry">Country</label>
                    <input class="textbox" type="text" autocapitalize="on" autocorrect="off">
                    <br><br>
                </form>
                <button class="addmore"><img src="../assets/icons/icon-add-light-blue-default.png">Add Another Recipent</button>
                <br>
                <br>
                <br>
                <!--greensubmit Button-->
                <a href="ordersuccess.html"><button class="greensubmit" type="Submit">Place Order</button></a>
                <!--end greensubmit button-->
            </div>
        </div>
</template>
