<!--
// component: order details of product
-->
<template>
    <div class="detail-information">
            <div class="top-border">
            </div>
            <div class="details">
                <h2>Details</h2>
                <h4>Product Name</h4>
                <p>Product Description</p>
                <h4>About</h4>
                <p>PDF for internal use only</p>
                <h4>Audience</h4>
                <p>Who is it for?</p>
                <small><strong><span id="show-more">Show More<img src="../assets/icons/icon-down-triangle-light-blue-default.png"></span></strong></small>
                <span id="show-more-content">
                    <h4>When to Use/Special Instructions</h4>
                    <p>N/A</p>
                    <h4>Expiration Date</h4>
                    <p>YYYY/MM/DD</p>
                </span>
              <small><strong><span id="show-less">Show Less<img src="../assets/icons/icon-up-triangle-light-blue-default.png"></span></strong>
                </small>
            </div>
            <div class="details">
                <hr>
                <button class="download"><img src="../assets/icons/icon-download-light-blue-default.png"> Preview and Download</button>
                <br>
                <br>
                <br>
                <!--Order Button-->
                <a href="order.html"><button class="greensubmit" type="Submit">Order</button></a>
                <!--end Order button-->
            </div>
        </div>
</template>
