<template>
  <v-app>
    <component v-bind:is="layout"></component>
  </v-app>
</template>
<script>
import MyComponent from './components/MyComponent'
export default {
  computed: {
    layout () {
      return this.$store.getters.layout
    }
  },
  components: {
    'app-layout': MyComponent
    // define as many layouts you want for the application
  }
}
</script>
